header {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 7rem;
}

header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header figure {
    display: flex;
}

header img {
    width: 12rem;
}

header nav {
    height: 100%;
}

header ul {
    display: flex;
    height: 100%;
}

header li {
    margin-right: 2rem; /* Espaçamento entre as listas (MENU) */
}
    header li:last-child { /* Espaçamento final a direita */
        margin-right: 0; 

    }

header a {
    transition: border ease 1s;
    display: block;
    height: 100%;
    line-height: 6.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    border-top: 0.5rem solid rgba(0, 0, 0, 0);
}
    header a:hover { 
        border-top: 0.5rem solid #ff7706;
    }


#presentation {
    background: url(../images/backgrounds/1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0; /* z-index relacionado com o z-index da header */
    height: 100vh;
}

#presentation section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#presentation div {
    background: cornflowerblue;
}

#presentation h1,
#presentation p {
    text-align: center;
}

#presentation .social{
    background: cornflowerblue;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 2.5rem;

}

#presentation .social span {
    background: darkgoldenrod;
    display: block;
    margin-bottom: 1rem;
    width: 2.5rem;
    height: 2.5rem;
}
    #presentation .social span:last-child {
        margin-bottom: 0;
    }

