*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header{
	display:flex;
	height: 350px;
	width: auto;
	align-self:center;
	border: 2px;
	
	background-color: #862633;
}

.logo img{
	width:560px;
	display: flex;

}